header{
    margin:0 auto;
    display: block;
    width:100%;
    text-align: center;
}
header h1{
    font:normal bold 40px Arial;
}
header a{
    display:block;
    margin:20px auto;
    padding:10px;
    height:20px;
    width:100px;
    text-decoration: none;
    background-color: #8f7a66;
    font-family: arial;
    color: white;
    border-radius: 10px;
}
header a:hover{
    background-color: #9f8b77;
}
header p{
    font-family: Arial;
    font-size: 25px;
    margin:20px auto;
}
#grid-container{
    height: 460px;
    width:460px;
    padding:20px;
    margin:50px auto;
    border-radius: 10px;
    background-color: #bbada0;
    position: relative;
}
.grid-cell{
    width:100px;
    height: 100px;
    border-radius: 6px;
    position: absolute;
    background-color: #ccc0b3;
}
.number-cell{
 
    border-radius: 6px;
    position: absolute;
    text-align: center;
    font:normal bold 60px arial;
    line-height:100px;
}